# Python built directories
__pycache__/
___pycache__/**
*.pyc
venv/
virtualenv/
# Jupyter Notebooks
*.ipynb
*.ipynb_checkpoints
# Data files
*.csv
# Environment variables
env
.env
# Operating System files
.DS_Store
._DS_Store
ds_store
DS_Store
