# Python built directories
__pycache__/
__pycache__/*
*.pyc
venv/
virtualenv/

# Data files
# Exclude specific CSV files in examples directory
!examples/data/chromium.csv
!src/Nucleation_Dynamics/hon.py
# Environment variables
env
.env

build/

*.egg-info/

# Operating System files
.DS_Store
._DS_Store
ds_store
DS_Store
